mdapi/flows/Contact_Assignments-4.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_One_to_Assignee_Number</name>
        <label>Add One to Assignee Number</label>
        <locationX>482</locationX>
        <locationY>75</locationY>
        <assignmentItems>
            <assignToReference>assigneeNumber</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_New_Assignee_Id</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>If_Assignee_1_User_Id_is_Not_Null</name>
        <label>If Assignee 1 User Id is Not Null</label>
        <locationX>1032</locationX>
        <locationY>406</locationY>
        <defaultConnectorLabel>Do Nothing - BUT Default Owner Remains</defaultConnectorLabel>
        <rules>
            <name>Update_Contact_with_Assignee_1_User_Id_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>assignee1Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_with_New_Assignee_Id_0</targetReference>
            </connector>
            <label>Update Contact with Assignee 1 User Id</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Latest_Created_Contact_Owner_Id_Is_Not_Null</name>
        <label>If Latest Created Contact Owner Id Is Not Null</label>
        <locationX>100</locationX>
        <locationY>188</locationY>
        <defaultConnector>
            <targetReference>Get_Assignee_1_User_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Assignee Number is 1</defaultConnectorLabel>
        <rules>
            <name>Get_Latest_Created_Contact_Owner_Number_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>latestCreatedContactOwnerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Latest_Created_Contact_Owner_Number</targetReference>
            </connector>
            <label>Get Latest Created Contact Owner Number</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_New_Assignee_Id_is_Not_Null</name>
        <label>If New Assignee Id is Not Null</label>
        <locationX>766</locationX>
        <locationY>197</locationY>
        <defaultConnector>
            <targetReference>Get_Assignee_1_User_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Get Assignee 1 User Id</defaultConnectorLabel>
        <rules>
            <name>Update_Contact_with_New_Assignee_Id_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>newAssigneeId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_with_New_Assignee_Id</targetReference>
            </connector>
            <label>Update Contact with New Assignee Id</label>
        </rules>
    </decisions>
    <interviewLabel>Contact Assignments {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact Assignments</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Assignee_1_User_Id</name>
        <label>Get Assignee 1 User Id</label>
        <locationX>925</locationX>
        <locationY>314</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_Assignee_1_User_Id_is_Not_Null</targetReference>
        </connector>
        <filters>
            <field>Assignee_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Assignment_Group__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>assignmentGroup</elementReference>
            </value>
        </filters>
        <object>Contact_Assignments__mdt</object>
        <outputAssignments>
            <assignToReference>assignee1Id</assignToReference>
            <field>Assignee_User_Id__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Latest_Created_Contact_in_Assignment_Group</name>
        <label>Get Latest Created Contact in Assignment Group</label>
        <locationX>26</locationX>
        <locationY>23</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_Latest_Created_Contact_Owner_Id_Is_Not_Null</targetReference>
        </connector>
        <filters>
            <field>Assignment_Group__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>assignmentGroup</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>latestCreatedContactOwnerId</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Latest_Created_Contact_Owner_Number</name>
        <label>Get Latest Created Contact Owner Number</label>
        <locationX>330</locationX>
        <locationY>48</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_One_to_Assignee_Number</targetReference>
        </connector>
        <filters>
            <field>Assignee_User_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>latestCreatedContactOwnerId</elementReference>
            </value>
        </filters>
        <object>Contact_Assignments__mdt</object>
        <outputAssignments>
            <assignToReference>assigneeNumber</assignToReference>
            <field>Assignee_Number__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_New_Assignee_Id</name>
        <label>Get New Assignee Id</label>
        <locationX>624</locationX>
        <locationY>105</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_New_Assignee_Id_is_Not_Null</targetReference>
        </connector>
        <filters>
            <field>Assignee_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>assigneeNumber</elementReference>
            </value>
        </filters>
        <filters>
            <field>Assignment_Group__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>assignmentGroup</elementReference>
            </value>
        </filters>
        <object>Contact_Assignments__mdt</object>
        <outputAssignments>
            <assignToReference>newAssigneeId</assignToReference>
            <field>Assignee_User_Id__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact_with_New_Assignee_Id</name>
        <label>Update Contact with New Assignee Id</label>
        <locationX>999</locationX>
        <locationY>75</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>newAssigneeId</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_with_New_Assignee_Id_0</name>
        <label>Update Contact with New Assignee Id</label>
        <locationX>1187</locationX>
        <locationY>283</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>assignee1Id</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <startElementReference>Get_Latest_Created_Contact_in_Assignment_Group</startElementReference>
    <variables>
        <name>assignee1Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>assigneeNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>assignmentGroup</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>assignmentGroupContacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>latestCreatedContactOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newAssigneeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
