mdapi/flows/SUBFLOW_Check_for_Permission_Set_Assignment-3.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Has_Permission_Set</name>
        <label>Has Permission Set</label>
        <locationX>680</locationX>
        <locationY>32</locationY>
        <assignmentItems>
            <assignToReference>varHasPermissionSet</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Exclude_Contact_from_Round_Robin</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Stop_if_No_Assignment</name>
        <label>Stop if No Assignment</label>
        <locationX>509</locationX>
        <locationY>148</locationY>
        <defaultConnectorLabel>Stop</defaultConnectorLabel>
        <rules>
            <name>Proceed_if_Assignent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPermssionSetAssignmentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Has_Permission_Set</targetReference>
            </connector>
            <label>Proceed if Assignent</label>
        </rules>
    </decisions>
    <decisions>
        <name>Stop_if_Null</name>
        <label>Stop if Null</label>
        <locationX>183</locationX>
        <locationY>143</locationY>
        <defaultConnectorLabel>Stop</defaultConnectorLabel>
        <rules>
            <name>Proceed_if_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPermissionSetId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Permission_Set_Assignment</targetReference>
            </connector>
            <label>Proceed if Present</label>
        </rules>
    </decisions>
    <formulas>
        <name>varCurrentUserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>SUBFLOW - Check for Permission Set Assignment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SUBFLOW - Check for Permission Set Assignment</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Ger_Permission_Set_Id</name>
        <label>Ger Permission Set Id</label>
        <locationX>63</locationX>
        <locationY>31</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Stop_if_Null</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Exclude_from_Round_Robin</stringValue>
            </value>
        </filters>
        <object>PermissionSet</object>
        <outputAssignments>
            <assignToReference>varPermissionSetId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Permission_Set_Assignment</name>
        <label>Get Permission Set Assignment</label>
        <locationX>370</locationX>
        <locationY>31</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Stop_if_No_Assignment</targetReference>
        </connector>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCurrentUserId</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPermissionSetId</elementReference>
            </value>
        </filters>
        <object>PermissionSetAssignment</object>
        <outputAssignments>
            <assignToReference>varPermssionSetAssignmentId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Exclude_Contact_from_Round_Robin</name>
        <label>Exclude Contact from Round Robin</label>
        <locationX>861</locationX>
        <locationY>32</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varContactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Exclude_from_Round_Robin__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <startElementReference>Ger_Permission_Set_Id</startElementReference>
    <variables>
        <name>varContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varHasPermissionSet</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varPermissionSetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPermssionSetAssignmentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
